language: python
python:
    - "2.7"
before_script:
    - pip install -r test-requirements.txt
    - fab create_database:is_test=True
install: "pip install -r requirements.txt"
script: "./runtests --with-xcoverage && ./run_js_tests"
sudo: required
dist: trusty
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y xvfb
    - sudo apt-get install -y firefox
    - sudo apt-get install -y mysql-client-core-5.6
    - sudo apt-get install -y mysql-client-5.6
    - sudo apt-get install -y mysql-server-5.6
    - sudo /etc/init.d/mysql start
after_success: "COVERALLS_REPO_TOKEN=$coveralls_token coveralls"
after_failure: "COVERALS_REPO_TOKEN=$coveralls_token coveralls"
